{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": [
    "@app/core/thirdparty/datadog/datadog.tracer",
    "<THIRD_PARTY_MODULES>",
    "^@app/core/(.*)$",
    "^@app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "[\"decorators-legacy\", {\"decoratorsBeforeExport\": true}]"
  ]
}